{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Stress Journal{% endblock %}</h1>
    <h2>My Past Entries:</h2>
    
    {% for post in posts %}
        <a class="title" href="{{ url_for('post', post_id=post['id']) }}">
            <h2 class="title">{{ post['title'] }}</h2>
        </a>
        <a  class="title" href="{{ url_for('edit', id=post['id']) }}">
            <span class="title">Edit</span>
        </a>
        <p class="rating">Stress Level: {{ post['rating' ]}}</p>
        <span class="time-stamp">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}